
.red{
    color: green;
}

/*Admin area*/
#admin{
    max-width: 60%;
    margin: 0 auto;
}
#admin h2{
    text-align: center;
    margin: 0 auto;
}
.content{
    text-align: center;
    font-size: 20px;
    font-family: Arial, serif;
    font-weight: bold;
}
.login-form{
    max-width: 20%;
    margin: 0 auto;
}
/*About page*/
.about{
    max-width: 60%;
    margin: 0 auto;
}